Repository cnoel490/literate-journey, changes with the labels that .github/labeler.yml gives for each.
All labels: role: build_output_folders, role: eos_cli_config_gen, role: eos_config_deploy_eapi, role: eos_designs, role: eos_snapshot, filter: natural_sort, filter: is_in_filter, filter: list_compress, filter: defined, type: Python filters, type: Ansible roles, state: Documentation role Updated, type: documentation, type: code quality, type: dependencies, state: CI Updated

.github/labeler.yml:

---
"role: build_output_folders":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/roles/build_output_folders/*
          - ansible_collections/arista/avd/roles/build_output_folders/**/*

"role: eos_cli_config_gen":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/roles/eos_cli_config_gen/*
          - ansible_collections/arista/avd/roles/eos_cli_config_gen/**/*

"role: eos_config_deploy_eapi":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/roles/eos_config_deploy_eapi/*
          - ansible_collections/arista/avd/roles/eos_config_deploy_eapi/**/*

"role: eos_designs":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/roles/eos_designs/*
          - ansible_collections/arista/avd/roles/eos_designs/**/*

"role: eos_snapshot":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/roles/eos_snapshot/*
          - ansible_collections/arista/avd/roles/eos_snapshot/**/*

"filter: natural_sort":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/filter/natural_sort.py

"filter: is_in_filter":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/filter/is_in_filter.py

"filter: list_compress":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/filter/list_compress.py

"filter: defined":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/filter/defined.py

"type: Python filters":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/filter/*.py

"type: Ansible roles":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/plugins/roles/**/*.yml
          - ansible_collections/arista/avd/plugins/roles/**/*.j2

"state: Documentation role Updated":
  - changed-files:
      - any-glob-to-any-file:
          - 'ansible_collections/arista/avd/roles/**/*.md'

"type: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - contributing.md
          - ansible_collections/arista/avd/*.md
          - ansible_collections/arista/avd/docs/*
          - ansible_collections/arista/avd/docs/**/*

"type: code quality":
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .github/*
          - .github/**/*
          - development/docker-compose.yml
          - development/Makefile

"type: dependencies":
  - changed-files:
      - any-glob-to-any-file:
          - development/requirements-dev.txt
          - development/requirements.txt
          - docs/requirements.txt

"state: CI Updated":
  - changed-files:
      - any-glob-to-any-file:
          - ansible_collections/arista/avd/extensions/molecule/*
          - ansible_collections/arista/avd/extensions/molecule/**/*

Refactor(eos_designs)!: Redesign the cv_topology feature based on feedback (#6001)
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1-RS1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-cv-topology-uplink-switches.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology-levels-type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology-levels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_TOPOLOGY.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-topology.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_topology.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_topology_levels.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/use_cv_topology.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
Labels: role: eos_designs, state: Documentation role Updated, state: CI Updated

Refactor: Fixing pyright errors for python/avdutils/tests (#5993)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements-dev.txt
  pyproject.toml
  python-avd/pyproject.toml
  python/avdutils/tests/passwords/test_passwords.py
Labels: none

Refactor(eos_designs)!: Remove wan_use_evpn_node_settings_for_lan and make it the default behavior (#5985)
  ansible_collections/arista/avd/examples/cv-pathfinder/README.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/SITE4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/INVALID_DUAL_ROUTER_WAN_EVPN_GW.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-vni-for-vrf-defined-under-wan-virtual-topologies.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/wan-unsupported-platform.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/SITE_EVPN.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-wan-use-evpn-on-lan-no-overlay-on-lan.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_use_evpn_node_settings_for_lan.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
Labels: role: eos_designs, state: Documentation role Updated, state: CI Updated

Fix(eos_designs): Apply VRF aggregate-addresses correctly under VRF config (#6026)
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Labels: state: CI Updated

Bump: Pre-release 6.0.0-dev2 (#6027)
  Cargo.toml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  pyproject.toml
  python-avd/pyavd/__init__.py
Labels: none

CI(cv_deploy): Adjust cv_deploy molecule following 6006 (#6034)
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/extensions/molecule/cv_deploy/workspace_force_true.yml
Labels: state: CI Updated

Test(pyavd): Add more tests of schema tooling (#5790)
  python-avd/pyavd/_schema/avdschema.py
  python-avd/tests/pyavd/schema/test_avddataconverter.py
  python-avd/tests/pyavd/schema/test_avdschema.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Labels: none

Doc: Fix typo in configuration key name (#6035)
  docs/warn-eos-cli-config-keys-usage-in-eos-designs.md
Labels: none

Refactor(anta_runner): Fix the pyright errors for pyavd/_anta/ (#5994)
  ansible_collections/arista/avd/extensions/molecule/anta_runner/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/extensions/molecule/anta_runner/inventory/host_vars/dc1-wan1.yml
  pyproject.toml
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/hardware.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/router_path_selection.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/routing_generic.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/system.py
  python-avd/pyavd/_anta/logs.py
Labels: state: CI Updated

Change image link
  .devcontainer/devcontainer.json
Labels: none

edit ansible config file
  ansible_collections/arista/avd/examples/single-dc-l3ls/ansible.cfg
Labels: none

Merge branch 'devel' of https://github.com/aristanetworks/avd into devel
  .github/requirements-ci-molecule.txt
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyproject.toml
Labels: type: code quality
